# Database
DB_NAME=tradebot
MONGODB_URI=mongodb://mongo:27017/tradebot
# For Authenticated MongoDB:
# MONGODB_URI=mongodb://username:password@localhost:27017/tradebot?authSource=admin

# Environment
XTS_ROOT_URL=https://xts.indiainfoline.com/
MARKET_API_KEY=your_market_api_key
MARKET_API_SECRET=your_market_api_secret
INTERACTIVE_API_KEY=your_interactive_api_key
INTERACTIVE_API_SECRET=your_interactive_api_secret
# Important for Docker Compose:
# If any secret contains a literal '$' character, escape it with another '$' (e.g., 'pass$$word').
# This prevents Docker Compose from attempting variable interpolation.
