polars
pytz
requests
python-engineio==3.13.0
python-socketio==4.6.0
websocket-client==0.57.0
pydantic-settings
pydantic
pymongo
typer
questionary
aiohttp
fastapi
uvicorn
scikit-learn
xgboost
joblib
numpy
pytest
httpx
python-dotenv
